Old/
out/
tmp/
fasta_files/
NOTES.md
*.swp
singularity/atpw.sif
BMGE-1.12
TreeShrink/
ParGenes/
MACSE/
mydocs/
test_out_remove_me_if_you_see_me/
test_out/
trimal/
conda/
data.dot.names/
fastagap/
check-install.sh
Makefile
Makefile.for_dependencies
